$navbar-default-bg: #a9b8d0;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover {
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('ourblog.jpg');
  background-size: cover;
  min-height: 80vh;
}

.jumbotron h1 {
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
