<h1 align="center"><%= 'Category: '  + @category.name %></h1>

<div class="text-center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div class="text-center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
